body{
  background:#0f172a;
  color:#e5e7eb;
  font-family:Arial;
  text-align:center;
}
button{
  padding:10px 20px;
  margin:5px;
  background:#22c55e;
  border:none;
  color:black;
  font-weight:bold;
}
input{padding:10px}
