body {
  background:#0f172a;
  color:#e5e7eb;
  font-family:Arial;
  text-align:center;
}
button {
  padding:12px 18px;
  margin:8px;
  background:#22c55e;
  border:none;
  font-size:16px;
}
input {
  padding:10px;
  font-size:16px;
}
h1 {
  color:#3b82f6;
}